html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.logo {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 20px;
}

.url {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-align: center;
    color: grey !important;
    text-decoration: none;
}

.frontpage {
    text-align: center !important;
}

.frontpage__title {
    font-size: 58px;
    letter-spacing: 8px !important;
}

.frontpage__subtitle {
    font-size: 20px;
    margin-top: 0;
    font-family: monospace;
    letter-spacing: 20px !important;
}

.automated {}

.automated__small {
    width: 100px;
}

.automated__long {
    width: 250px;
}

.agenda {
    font-size: 32px;
    font-weight: normal;
    font-family: 'Duru Sans', sans-serif;
    text-align: left;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.3;
}

.chapter__title {
    font-size: 200%;
}

.job {
    align-self: center;
}

.job__img {
    width: 640px;
}

.job__title {
    font-size: 32px;
}

.job__description {
    font-size: 12px;
    letter-spacing: 24px;
}

.script__code {
    font-size: 14px;
    overflow: hidden;
}

.script__code--long {
    font-size: 8px;
}

.script__meme {
    position: fixed;
    bottom: 0%;
    right: 0%;
    border: 8px solid white !important;
}

.tool {
    position: relative;
}

.tool__logo {
    height: 100px;
    position: absolute;
    left: 30px;
    top: -20px;
}

.tool__gui {
    width: 100%;
    max-width: 720px;
    position: absolute;
    right: 30px;
}

.sentence {
    font-size: 2.50em;
    text-align: left;
    line-height: 1.3;
    font-weight: normal;
}

.end {}

.end__question {
    margin: 20px 0px 0px 0px !important;
}

.start {
    color: #37ccc1;
}

.reveal section .start__image {
    border: 0px solid #333333 !important;
    background: none !important;
}

.image {
    max-width: 100%;
    max-height: 35vh !important;
    height: auto;
    width: auto;
}

.image__description {
    margin: 0px;
}

@font-face {
    font-family: 'lazer84';
    src: url('../lib/font/lazer84/lazer84-webfont.woff2') format('woff2'), url('../lib/font/lazer84/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.vs {
    font-family: lazer84;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: #f9c802;
    text-shadow: 2px 2px 0 #e30613;
    padding-left: 1rem;
}

.app-logo {
    max-width: 100%;
    max-height: 20vh !important;
    height: auto;
    width: auto;
}