/*@import "../template/mixins";
@import "../template/settings";*/

@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
.reveal .progress {
    height: 20px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

.reveal .progress span {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

.reveal section img {
    border: 8px solid white !important;
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) !important; */
}

.reveal pre {
    font-size: 0.8em !important;
}

.reveal blockquote {
    background: url(img/quotemark.png) 0 0 no-repeat;
    padding: 18px 0px 105px 30px !important;
    box-shadow: none;
}


/*@import "../template/theme";*/


/*********************************************
 * GLOBAL STYLES
 *********************************************/


/* :root {
    --main-color: #37ccc1
    --second-color: #09b3bf;
    --sub-color-light: #5fe3c2
    --sub-color-dark: #09b3bf
} */

:root {
    --main-color: #0065ed;
    --second-color: #0065ed;
    --sub-color-light: #0065ed;
    --sub-color-dark: #001235;
}

--sub-color-dark body {
    background: white;
    background-color: white;
}

.reveal {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: -0.02em;
    color: #333333;
}

::selection {
    color: white;
    background: #ff5e99;
    text-shadow: none;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #333333;
    font-family: 'Duru Sans', sans-serif;
    line-height: 0.9em;
    letter-spacing: 0;
    text-transform: normal;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
    color: var(--second-color);
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    -ms-transition: color .15s ease;
    -o-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:not(.image):hover {
    color: var(--main-color);
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #f4e2fd;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #333333;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: var(--main-color);
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: var(--main-color);
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
    border-bottom-color: var(--main-color);
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: var(--main-color);
}

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: var(--main-color);
}

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: var(--main-color);
}

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: var(--main-color);
}

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: var(--main-color);
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: linear-gradient(90deg, var(--sub-color-dark), var(--sub-color-light));
    ;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * CODE
 *********************************************/

.reveal code {
    text-align: left
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}