.logo {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 20px;
}

.frontpage {
    text-align: center !important;
}

.frontpage__title {
    font-size: 58px;
}

.frontpage__subtitle {
    margin-top: 0;
    font-family: monospace;
    letter-spacing: 20px !important;
}

.agenda {
    font-size: 32px;
    font-weight: normal;
    font-family: 'Duru Sans', sans-serif;
    text-align: left;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.3;
}

.chapter__title {
    font-size: 200%;
}

.job {
    align-self: center;
}

.job__img {
    width: 640px;
}

.job__title {
    font-size: 32px;
}

.job__description {
    font-size: 12px;
    letter-spacing: 24px;
}

.automated {}

.automated__small {
    width: 100px;
}

.automated__long {
    width: 250px;
}

.music__years {
    height: 200px;
}

.music__months {
    height: 200px;
}

.meme {}

.meme__image {
    width: 720px;
}

.meme__description {
    position: fixed;
    top: 25vh;
    padding: 5px;
    background-color: white;
    width: 100%;
}

.flow {
    position: relative;
}

.flow__chrome {
    width: 320px;
    position: absolute;
    left: 30px;
    top: -20px;
}

.flow__youtube {
    width: 520px;
    position: absolute;
    right: 30px;
}

.solution {
    height: 240px;
    position: relative !important;
}

.solution__logo {
    position: absolute;
    width: 250px;
    margin: 50px;
}

.solution__logo--last {
    left: 150px;
}

.solution__logo--yt {
    right: 150px;
}

.solution__logo--llame {
    align-content: center;
    width: 50px;
    left: 45%;
    bottom: 0px;
}

.script__code {
    font-size: 14px;
    overflow: hidden;
}

.script__code--long {
    font-size: 8px;
}

.script__meme {
    position: fixed;
    bottom: 0%;
    right: 0%;
    border: 8px solid white !important;
}

.bug__image {
    z-index: 2;
    width: 960px;
}

.bug__meme {
    z-index: 1;
    position: fixed;
    bottom: 0%;
    right: 0%;
    border: 8px solid white !important;
}

.tool {
    position: relative;
}

.tool__logo {
    height: 100px;
    position: absolute;
    left: 30px;
    top: -20px;
}

.tool__gui {
    width: 100%;
    max-width: 720px;
    position: absolute;
    right: 30px;
}

.test-pyramid__image {
    width: 640px;
}

.web__image,
.docs__image,
.autoformat__black {
    width: 320px;
}

.static-code,
.design-patterns,
.documentation {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Duru Sans', sans-serif;
    text-align: left;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.3;
}

.autoformat {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Duru Sans', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.3;
}

.sentence {
    font-size: 2.50em;
    text-align: left;
    line-height: 1.3;
    font-weight: normal;
}